/* Menu CSS */

.filter td {
    padding-top: 7px;
}

#active {
    background-color: white;
    border-bottom: 1px solid white;
}


.tab1 {
    background: url(images/background.gif) repeat-x bottom;
    height: 30px;
    padding-left: 9px;
    vertical-align: bottom;
    padding-bottom: 0px;
}

.treeTab {
    background: url(images/tree.gif) no-repeat 4px 5px;
    border: 1px solid #CCC;
    color: #666;
    float: left;
    font: 13px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-right: 3px;
    padding: 4px 10px 4px 25px;

}

.ListTab {
    background: url(images/list.gif) no-repeat 4px 5px;
    border: 1px solid #CCC;
    color: #666;
    float: left;
    font: 13px Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-right: 3px;
    padding: 4px 10px 4px 25px;

}

/* Tree CSS */

.tree {
    max-height:355px;
    overflow:auto;
    margin: 0 0 10px 0;
    padding-top: 10px;
}

.tree input {
    margin-top: 3px;
}

.Container {
    padding: 0;
    margin: 0;
}

.Container li {
    list-style-type: none;
}


/* indent for all tree children excepts root */
.Node {
    background-image : url(images/i.gif);
    background-position : top left;
    background-repeat : repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}


/* left vertical line (grid) for all nodes */
.IsLast {
    background-image: url(images/i_half.gif);
    background-repeat : no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(images/expand_minus.gif);
}

/* closed is higher priority than open */
.ExpandClosed .Expand {
    background-image: url(images/expand_plus.gif);
}

/* highest priority */
.ExpandLeaf .Expand {
    background-image: url(images/expand_leaf.gif);
}

.Content {
    min-height: 18px;
    margin-left:18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandOpen .Container {
        display: block;
}

.ExpandClosed .Container {
        display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
        cursor: pointer;
}
.ExpandLeaf .Expand {
        cursor: auto;
}

.ExpandLoading   {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(images/expand_loading.gif);
}

/* Icons CSS */

.page, .blogpost, .confluence_comment, .space, .userinfo, .status, .unknown, .attachment_html, .attachment_image, .attachment_java, .attachment_word,
    .attachment_excel, .attachment_powerpoint, .attachment_pdf, .attachment_text, .attachment_xml, .attachment_zip, .attachment_rtf {
    width: 16px; 
    height: 16px;
}

.page {
    background: url(images/icons/docs_16.gif);
}

.blogpost {
    background: url(images/icons/blogentry_16.gif);
}

.confluence_comment {
    background: url(images/icons/comment_16.gif);
}

.space {
    background: url(images/icons/web_16.gif);
}

.userinfo {
    background: url(images/icons/user_16.gif);
}

.status {
    background: url(images/icons/status.png);
}

.unknown {
    background: url(images/icons/help_16.gif);
}

.attachment_html {
    background: url(images/icons/attachments/generic_16.png);
}

.attachment_image {
    background: url(images/icons/attachments/image_16.png);
}

.attachment_java {
    background: url(images/icons/attachments/java_16.png);
}

.attachment_word {
    background: url(images/icons/attachments/doc_16.png);
}

.attachment_excel {
    background: url(images/icons/attachments/xls_16.png);
}

.attachment_powerpoint {
    background: url(images/icons/attachments/ppt_16.png);
}

.attachment_pdf {
    background: url(images/icons/attachments/pdf_16.png);
}

.attachment_text {
    background: url(images/icons/attachments/txt_16.png);
}

.attachment_xml {
    background: url(images/icons/attachments/xml_16.png);
}

.attachment_zip {
    background: url(images/icons/attachments/zip_16.png);
}

.attachment_rtf {
    background: url(images/icons/attachments/rtf.jpg);
}
