<!-- 
Copyright (c) 2012, HiQo Solutions. All rights reserved.

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 3.0 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

<http://www.gnu.org/licenses/>

info@hiqo-solutions.com
 -->
<html>
    <head>
	<title>Confluence Link Setup</title>
    </head>
<body>
<table class="jiraform  maxWidth">
<tbody>
    <tr>
	<td class="jiraformheader">
            <h3 class="formtitle">$i18n.getText("plugin.config.confluence.setup")</h3>
	</td>
    </tr>
#if(!$action.errorMessages.isEmpty())
    <tr>
	<td class="jiraformbody">
            <div style="color: red; font-weight: bold">
                #foreach ($errorMessage in $action.errorMessages)
                    $textutils.htmlEncode($errorMessage)<br/>
                #end
            </div>
        </td>    
    </tr>
#end
#if($action.updateSuccessful)
    <tr>
	<td class="jiraformbody">
            <div style="color: green; font-weight: bold">
                $i18n.getText("plugin.config.update.successful")
            </div>
        </td>    
    </tr>
#end
    <tr>
	<td class="jiraformbody">
            <form name="confluencelinksetup-form" id="confluencelinksetup-form" method="post" action="${req.contextPath}/secure/admin/ConfluenceLinkSetup.jspa"/>
            <input type="hidden" name="processConfigUpdate" value="true"/>
            <table cellspacing="5" cellpadding="1" border="0" width="100%">
                <tr>
                    <td nowrap="nowrap" style="width:1px; white-space:nowrap;">$i18n.getText("plugin.config.confluence.url"):</td>
                    <td><input class="text" style="width:200px;" type="text" name="confluenceUrl" id="confluenceUrl" value="$action.confluenceUrl" /></td>
		</tr>
                <tr>
                    <td nowrap="nowrap" style="width:1px; white-space:nowrap;">$i18n.getText("plugin.config.confluence.max-results-count"):</td>
                    <td><input class="text" style="width:100px;" type="text" name="maxSearchResultsCount" id="maxSearchResultsCount" value="$action.maxSearchResultsCount" /></td>
		</tr>
		<tr class="buttons-container">
                    <td colspan="2">
                        <div class="aui-toolbar form-buttons noprint">
                            <div class="toolbar-group">
                                <span class="toolbar-item">
                                    <input class="toolbar-trigger" type="submit" value="$i18n.getText('plugin.config.update.configuration')" name="saveButton" id="saveButton"/>
                                    &nbsp;&nbsp;&nbsp;<a class="cancel" style="line-height: 23px" href="${req.contextPath}/secure/AdminSummary.jspa">Cancel</a>    
                                </span>
                            </div>    
                        </div>    
                    </td>
		</tr>
            </table>
            </form>
	</td>
    </tr>
</tbody>
</table>
</body>
</html>