<!-- 
Copyright (c) 2012, HiQo Solutions. All rights reserved.

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 3.0 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307 USA

<http://www.gnu.org/licenses/>

info@hiqo-solutions.com
 -->
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<script type="text/javascript">
    function openConfluenceTreeWindow(linksFieldId) {
        var vConfSearch = window.open('${req.contextPath}/secure/popups/ConfluenceSpaceTree.jspa?linksFieldId=' + linksFieldId, 'confluencesearch', 'status=no,resizable=yes,top=150,left=300,width=640,height=600,scrollbars=yes');
        vConfSearch.opener = self;
        vConfSearch.focus();
    }
</script>

<textarea class="textarea long-field" cols="40" rows="7" id="$customField.id" name="$customField.id">$textutils.htmlEncode($!value)</textarea>

<a href="javascript:openConfluenceTreeWindow('$customField.id');" title="Add Confluence Links"><img src="${req.contextPath}/images/icons/add_16.gif" style="vertical-align: top;" /></a>

#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)